
::-webkit-scrollbar {
  width: 1px;
  height: 1px;
}

::-webkit-scrollbar-button {
  width: 1px;
  height: 1px;
}

body {font-family: 'Open Sans', sans-serif; color: #333;}

p {font-size: 18px; line-height: 28px;}
a { color: #CC311C; }
hr { border: 1px solid #CC311C;  width: 80%;}

header {
  position: relative;
  height: 95vh;
  background: url("imagenes/la-espatula.png") no-repeat;
  background-size: contain;
  background-position: center;
}

.box {	
	display: flex;
	flex-flow: column;
    height: 100vh;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: center;
    justify-content: center;
    margin: 2vh;
}

h1 {
	font-size: 2em;
	font-family: 'Merriweather', serif;
	font-weight: 700;
	margin-bottom: 0;
}


h1, header p, header a {
	color: #fff;
}

section {
	margin:0 auto;
	display: block;
	width: 85%;
	padding: 15vh 0 15vh;
	position: relative;
}

img {
    max-width: 90%;
    height: auto;
    display: block;
    margin: 0 auto;
    }

#agradecimiento p { color: #797979; }

.centrado { text-align: center; }
#voladora {position: absolute; will-change: transform; left: 35%;}
#voladora img {width: 70%;}

.todas-las-espatulas {
  display: flex;
  overflow-x: auto;
  width: 100%;
  background: #EBEFF4;
  margin: 0;
  height: 75vh;
}

.todas-las-espatulas img {
	max-width: max-content;
	padding:0 10px;
}

@media (min-width: 420px) {

	h1 {font-size: 3em;}
	section { width: 70%;}
	img { max-width: 95%; }

	}


@media (min-width: 700px) {

	h1 {font-size: 4em;}
	section { width: 50%;}


	}

@media (min-width: 1000px) {

	section {width: 510px;}
	img { max-width: 100%; }

}
